aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
cffi==1.16.0
cfgrib==0.9.10.4
charset-normalizer==3.3.0
click==8.1.7
eccodes==1.6.1
findlibs==0.0.5
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
numpy==1.26.0
packaging==23.2
pandas==2.1.1
pycparser==2.21
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
tzdata==2023.3
urllib3==2.0.6
xarray==2023.9.0
yarl==1.9.2
